/*
 * SPDX-FileCopyrightText: Copyright 2025 Sam Blenny
 * SPDX-License-Identifier: Apache-2.0
 *
 * Related docs & reference code:
 * - https://docs.zephyrproject.org/latest/build/dts/api/bindings/mipi-dbi/zephyr%2Cmipi-dbi-spi.html
 * - https://docs.zephyrproject.org/4.0.0/build/dts/api/bindings/display/sitronix%2Cst7789v.html
 * - https://newhavendisplay.com/content/datasheets/ST7789V.pdf
 * - https://github.com/adafruit/Adafruit_CircuitPython_ST7789/blob/1.6.4/adafruit_st7789.py
 * - https://github.com/adafruit/circuitpython/blob/main/shared-bindings/busdisplay/BusDisplay.c
 * - https://github.com/adafruit/circuitpython/blob/main/shared-module/busdisplay/BusDisplay.c
 * - https://docs.circuitpython.org/en/latest/shared-bindings/busdisplay/
 * - https://learn.adafruit.com/2-0-inch-320-x-240-color-ips-tft-display/circuitpython-displayio-quickstart
 *
 * ST7789V Datasheet Notes:
 * - resolution is 240 x 320 (H x V)
 * - color formats: 12-bit (rgb444), 16-bit (rgb565), 18-bit (rgb666)
 */

#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

&eyespi_spi {
	/* Board def probably has wrong cs-gpios, so set it properly */
	cs-gpios = <&eyespi_mipi 8 GPIO_ACTIVE_LOW>;
};

/ {
	chosen {
		zephyr,display = &st7798v;
	}

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";

		/* Configure spi device with DC and reset pins */
		spi-dev = <&eyespi_spi>;
		dc-gpios = <&eyespi_mipi 6 GPIO_ACTIVE_LOW>;
		reset-gpios = <&eyespi_mipi 7 GPIO_ACTIVE_LOW>;
		write-only;

		#address-cells = <1>;
		#size-cells = <0>;

		st7789: st7789@0 {
			compatible = "sitronix,st7789v";
			reg = <0>;
			mipi-max-frequency = <24000000>;
			mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;

			/*
			CircuitPython Init sequence transcribed from Saleae capture:
			0x01 SWRESET [150ms delay] software reset
			0x11 SLPOUT  [500ms delay] sleep out
			0x3A COLMOD
			0x55 (data)  [ 10ms delay] interface pixel format
			0x36 MADCTL
			0x08 (data)  [ 10ms delay] memory data access control
			0x21 INVON   [ 10ms delay] display inversion
			0x13 NORON   [ 10ms delay] partial off (normal)
			0x36 MADCTL
			0xC0 (data)  [ 10ms delay] memory data access control
			0x29 DISPON  [500ms delay] display on
			*/

			x-offset = <0>;
			y-offset = <0>;
			height = <240>;
			width  = <320>;
			vcom     = <>;  /* int */
			gctrl    = <>;  /* int */
			mdac     = <>;  /* int */
			lcm      = <>;  /* int */
			colmod   = <>;  /* int */
			gamma    = <>;  /* int */
			porch-param   = <>;  /* uint8-array */
			cmd2en-param  = <>;  /* uint8-array */
			pwctrl1-param = <>;  /* uint8-array */
			pvgam-param   = <>;  /* uint8-array */
			nvgam-param   = <>;  /* uint8-array */
			ram-param     = <>;  /* uint8-array */
			rgb-param     = <>;  /* uint8-array */
		};
	};

};
