/*
 * SPDX-FileCopyrightText: Copyright 2025 Sam Blenny
 * SPDX-License-Identifier: Apache-2.0
 *
 * Related docs & reference code:
 * - https://docs.zephyrproject.org/latest/build/dts/api/bindings/mipi-dbi/zephyr%2Cmipi-dbi-spi.html
 * - https://docs.zephyrproject.org/4.0.0/build/dts/api/bindings/display/sitronix%2Cst7789v.html
 * - https://newhavendisplay.com/content/datasheets/ST7789V.pdf
 * - https://github.com/adafruit/Adafruit_CircuitPython_ST7789/blob/1.6.4/adafruit_st7789.py
 * - https://github.com/adafruit/circuitpython/blob/main/shared-bindings/busdisplay/BusDisplay.c
 * - https://github.com/adafruit/circuitpython/blob/main/shared-module/busdisplay/BusDisplay.c
 * - https://docs.circuitpython.org/en/latest/shared-bindings/busdisplay/
 * - https://learn.adafruit.com/2-0-inch-320-x-240-color-ips-tft-display/circuitpython-displayio-quickstart
 *
 */

#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

&eyespi_spi {
	/* Board def probably has wrong cs-gpios, so set it properly */
	cs-gpios = <&eyespi_mipi 8 GPIO_ACTIVE_LOW>;
};

/ {
	chosen {
		zephyr,display = &st7789v_adafruit_2in_tft_ips_display;
	};

	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";

		/* Configure spi device with DC and reset pins */
		spi-dev = <&eyespi_spi>;
		dc-gpios = <&eyespi_mipi 6 GPIO_ACTIVE_LOW>;
		reset-gpios = <&eyespi_mipi 7 GPIO_ACTIVE_LOW>;
		write-only;

		#address-cells = <1>;
		#size-cells = <0>;

		st7789v_adafruit_2in_tft_ips_display: st7789@0 {
			compatible = "sitronix,st7789v";
			reg = <0>;
			mipi-max-frequency = <24000000>;
			mipi-mode = <MIPI_DBI_MODE_SPI_4WIRE>;
			x-offset = <0>;
			y-offset = <0>;
			height = <240>;
			width  = <320>;

			/* These values copied from CircuitPython init sequence */
			colmod   = <0x55>;
			mdac     = <0x0C>;

			/* These are all default values from the ST7789V datasheet */
			vcom     = <0x20>;
			gctrl    = <0x35>;
			lcm      = <0x2C>;
			gamma    = <0x01>;
			porch-param   = [0C 0C 00 33 33];
			cmd2en-param  = [5A 69 02 00];
			pwctrl1-param = [A4 81];
			pvgam-param   = [d0 00 02 07 0b 1a 31 54 40 29 12 12 12 17];
			nvgam-param   = [d0 00 02 07 05 25 2d 44 44 1c 18 16 1c 1d];
			ram-param     = [00 f0];
			rgb-param     = [40 02 14];
		};
	};
};
